<nav class="navbar">
 <div class="wrapper">
  <a class="navbar-brand" href="/">Estadas</a>
 </div>
</nav>

<div class="wrapper">
    
 <div class="frame body-frame" style="border: 1px dashed black">
     
<div class="bit-20">
  <img src="{{me.avatarURL}}" width=150 height=150 style="border:1px solid black; border-radius: 2px">
         </div>
         
         
         <div class="bit-2">
         
         
         <h2> {{me.name}} </h2>
         <h3><font color="#33cc33">@{{me.username}}</font></h3>
         <p>Age: {{me.age}}</p>
         <p>Gender: {{me.gender}}</p>
         <p>Email: {{me.email}}</p>
         <p>Bio: {{me.bio}}</p>
         
     </div>
     
     </div>
     
</div>