<nav class="navbar">
 <div class="wrapper">
  <a class="navbar-brand" href="/">Estadas</a>
  <div class="navbar-right">
 </div>
 
  <div class="navbar-right dropdown">
  <button class="dropbtn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
  <div class="dropdown-content">
    <a href="/user/{{user.username}}">my profile</a>
    <a href="#">discover posts</a>
    <a href="/auth/logout">logout</a>
</div>
 </div>
 
 <div class="navbar-right dropdown">
  <button class="dropbtn"><span class="glyphicon glyphicon-send" aria-hidden="true"></span><font size=4 color="#000">&nbsp; {{#if user.notes}} {{#ifgreater user.notes 99}} (99+){{/ifgreater}}{{#ifless user.notes 99}} ({{user.notes}}){{/ifless}}{{#ifeq user.notes 99}} ({{user.notes}}){{/ifeq}} {{/if}}</font></button>
  <div class="dropdown-content">
   {{#if mynotifications}}
   {{#each mynotifications}}
    <a href="/post/{{red}}">@{{from}} {{value}}!</a>
    {{/each}}
    {{else}}
    <a>No new notifications!</a>
    {{/if}}
</div>
 </div>
 
 <!--
    <div class="navbar-right dropdown">
  <button class="dropbtn"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> <font color="red">2</font></button>
  <div class="dropdown-content">
    <a href="#"><font color="red">NEW:</font> @drew liked your post!</a>
    <a href="#"><font color="red">NEW:</font> @owebboy followed you!</a>
    <a href="#">Happy Birthday!</a>
    <a href="#">@joshyyy posted to you!</a>
    <a href="#">@kataldi sent you a message!</a>
</div>
</div>!-->

 </div>
</nav>

<div class="bit-2">
  
  {{#each result}}
   
   <div class="cookie posts" style="max-width:100%; padding:.4em">
    
    <div class="frame">
     
     <div class="bit-a" >
      <div class="bit-100">
  <p><img src="{{avatarURL}}" width=60px height=60px style="border: 1px solid black"></p>
  </div>

      <h4><a style="text-decoration:none; color: #000" href="/user/{{username}}">{{name}}</a> {{#if verified}}<img src="/images/chk.png" width=13 height=13>{{/if}} {{#if doing}}<font color="#8c8c8c"> is <i>{{{doing}}}</i>{{/if}}</font></h4>
      <h4><a style="text-decoration:none; color: #33cc33; font-size:14px" href="/user/{{username}}">@{{username}}</a></h4>
      <p style="color: #ccc"><font size=2.5>{{formatDate created  day="numeric" month="long" year="numeric"}} at {{time}}</font></p>
      {{#if content}}<br>{{/if}}
      <font color="black" size=4>
        {{{result.content}}}
        </font>
        
        {{#if image}}
     <br><br>
     <a href=""><img class="grow" src="{{image}}" style="border:1px solid black; max-width:100%; max-height:100%;"></a>
     
     {{/if}}
     
        <div class="actions">
         
         <div class="stats">
         
         <br><font color="gray" size=3>{{likes}} likes - {{dislikes}} dislikes - {{shares}} shares</font><br><br>
         <hr class="hr">
         <h4><br> </h4>
        <a href="/likepost/{{username}}/{{id}}" class="indexbtn3"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</a> <a href="/dislikepost/{{username}}/{{id}}" class="indexbtn3"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Dislike</a> <a href="/dislikepost/{{author}}/{{id}}/home/null" class="indexbtn3"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment</a> <a href="/sharepost/{{username}}/{{id}}" class="indexbtn3"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Share</a>
 <div class="dropdown">
  <button class="indexbtn3"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button>
  <div class="dropdown-content" style="left:0;">
    <a href="/user/{{user.username}}">edit post</a>
    <a href="/deletepost/{{id}}">delete post</a>
</div>
 </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  <div><br></div>
   {{/each}}
</div>